.registerloginbox {
  width: 450px;
  margin: auto;
  background: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 40px 55px 45px 55px;
  border-radius: 15px;
  transition: all .3s;
}

.search-button {
  border: none;
  background-color: #ffffff;
}

/* Grid for TabPopularArtists */

.grid-container {
  margin: auto;
  max-width: 80%;
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
}

.grid-item {
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

.grid-header {
  height: 50px;
}

/* Devices smaller than 600px */
@media only screen and (max-width: 600px) {
  .grid-item {
    padding: 0px;
  }
}